.code {
  font-family: 'Roboto Mono' !important;
}

.render-markdown pre {
  padding: 20px;
  margin-bottom: 16px;
  background-color: #f5f5f5;
}
.render-markdown img {
  width: 100%;
}

.no-focus:focus {
  box-shadow: unset;
}

.link {
  color: #0000ee;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.link-muted {
  color: unset;
  background-color: unset;
  text-decoration: unset;
}

.link-muted:hover {
  color: unset;
  text-decoration: unset;
}

.pointer {
  cursor: pointer;
}
